
/* Styling the top navbar */
.dropdown-menu{
	background-color: #333;
}

ul.dropdown-menu > li > a:link{
	color: #9D9D9D;
}

ul.dropdown-menu > li > a:visited{
	color: #9D9D9D;
}

ul.dropdown-menu > li > a:hover{
	color: black;
}

/* Styling the fading effect when switching tabs*/
.fade {
	opacity: 0;
	-webkit-transition: opacity .35s linear;
	-moz-transition: opacity .35s linear;
	-ms-transition: opacity .35s linear;
	-o-transition: opacity .35s linear;
	transition: opacity .35s linear;
}

/* Sets a maximum for text areas, e.g. contact page*/
textarea {
    max-width: 100%; 
}


.panel-title{
	font-size:2em;
}

